<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEE"S PLAYGROUND</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

    <!-- mapbox -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <link href="/stylesheets/stars.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/uploadImage.css" rel="stylesheet" type="text/css">
</head>

<body class="relative bg-gray-100 h-screen flex flex-col justify-between">
    <%- include('../components/navbar'),{currentUser:currentUser}%>
    <main class="container relative">
        <%- include('../components/flash',{success:success, error:error})%>
        <%- body %>
    </main>
    <%- include('../components/footer')%>
    <script src='/javascripts/navbar.js'></script>
    <script src='/javascripts/validation.js'></script>
    <script src='/javascripts/main.js'></script>
    <script src='/javascripts/uploadImage.js'></script>
</body>

</html>