<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEE"S PLAYGROUND</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">

</head>

<body class="relative">
    <%- include('../components/navbar')%>
    <main class="container">
        <%- body %>
    </main>
    <%- include('../components/footer')%>
    <script src='/javascripts/navbar.js'></script>
</body>

</html>