<% layout('layouts/boilerplate')%>

    <div class="container py-6">


        <div class="w-full h-60 bg-gray-400 rounded-md relative overflow-hidden">
            <style>
                #map {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                }
            </style>
            <div id="map" class=""></div>
        </div>
        <div class="grid grid-cols-3 mt-8 gap-10">


            <% for (let playground of playgrounds){%>
                <%- include('../components/card',{playground:playground})%>
                    <% }%>
        </div>
        <%- include('../components/pagination.ejs',{length:totalLength, page:page, limit:limit}) %>
    </div>
    <!-- include javascript for cluster map -->
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        const playgrounds = { features: <%- JSON.stringify(playgrounds) %>};
    </script>

    <script src="/javascripts/clusterMap.js"></script>