<% layout('layouts/boilerplate')%>

    <div class="grid grid-cols-3 mt-8 gap-10">


        <% for (let playground of playgrounds){%>
            <%- include('../components/card',{playground:playground})%>
        <% }%>
    </div>