<div class="relative h-full w-full overflow-hidden ">


    <svg xmlns="http://www.w3.org/2000/svg"
        class="h-8 w-8 bg-white  bg-opacity-75 absolute top-1/2 left-px z-10 transform -translate-y-2/4 cursor-pointer rounded-full"
        fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
    </svg>
    <% images.map((img, index)=>{ %>

        <img src="<%=img.url%>" alt="playground image " class="h-full w-full carouselImgs object-cover
            <% if(index !== 0) {%>
                hidden
            <%}%>
        
        " />

        <%}) %>
            <svg xmlns="http://www.w3.org/2000/svg"
                class="h-8 w-8 bg-white  bg-opacity-75 absolute top-1/2 right-px z-10 transform -translate-y-2/4 rounded-full"
                fill="none" viewBox="0 0 24 24" stroke="currentColor" onclick="nextSlide()">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>

</div>
