
    <!-- Mobile menu, show/hide based on menu state. -->
    <div class=" hidden bg-gray-800" id="mobile-menu">
        <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
  
          <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Playgrounds</a>
          <% if(currentUser) { %>
          <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Add Playground</a>
  
          <%} %>
        </div>
        <div class="pt-4 pb-3 border-t border-gray-700">
          <% if(currentUser) { %>
          <div class="flex items-center px-5">
            <div class="flex-shrink-0">
              <img class="h-10 w-10 rounded-full" src="<%=currentUser.images.url%>"alt="">
            </div>
            <div class="ml-3">
              <div class="text-base font-medium leading-none text-gray-400"><%= currentUser.username %></div>
            
            </div>

          </div>
          <div class="mt-3 px-2 space-y-1">
            <a href="/profile" class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700">Your Profile</a>

  
            <a href="/logout" class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700">Sign out</a>
          </div>
          <%}else{%>
            <div class="mt-3 px-2 space-y-1">
              <a href="/login" class="block px-3 py-2 rounded-md text-base font-medium  hover:text-primary hover:bg-gray-700 text-white">Log in</a>
  
    
              <a href="/register" class="block px-3 py-2 rounded-md text-base font-medium text-white hover:text-primary hover:bg-gray-700">register</a>
            </div>
            
          <%}%>
        </div>
      </div>