<nav class="nav">
    <div class="container">
        <a href="/" class="nav__logo">BEE&apos;S PLAYGROUND</a>
        <button class="nav__toggle" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="nav__toggle-icon"></span>
        </button>
        <div class="collapse nav-collapse" id="navbarNavAltMarkup">
            <div class="nav__menu">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/playgrounds">Playgrounds</a>
                <a class="nav-link" href="/playgrounds/new">New Playgrounds</a>
            </div>
        </div>
    </div>

    </div>
</nav>