<% layout('layouts/boilerplate')%>
<main class="px-3">
    <h1>YelpCamp</h1>
    <p class="lead"> Welcome to YelpCamp! <br> Jump right in and explore our many campgrounds. <br>
        Feel free to share some of your own and comment on others!</p>
    <a href="/campgrounds" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">View
        Campgrounds</a>
</main>


