<% layout('layouts/boilerplate')%>
<div class="h-full w-full flex flex-col justify-center items-center" style="min-height:calc(100vh - 119px);">

    
    <form id="forgot_password" class="max-w-md bg-white shadow-sm flex flex-col p-5 w-full rounded" action="/forgotPassword"
        method="POST">
        <h1 class="text-gray-800 font-bold text-2xl text-center">Reset Password</h1>



        <div class="">
            <label for="resetEmail" class="font-bold my-3 block">Email address</label>
            <input type="text" name="resetEmail"  autocomplete="off" class="input-email input-blank ">
            <small class="text-primary text-xs"></small>
        </div>


        <div class="">
            <input type="submit" value="Reset Password"
                class="btn-submit-blue">
        </div>

        <div class="w-full h-full flex justify-between mt-8">
            <a class="text-blue-500 border-b border-blue-500" href="/login" >Log In</a>
            
            <a class="no-underline border-b border-blue-500 text-blue-500 inline-block" href="/register">
                Sign Up
            </a>

            
        </div>

    </form>
    <div class="max-w-md w-full flex justify-end mt-3 text-xs ">

        

    </div>

</div>


<!-- Check your inbox for the next steps. If you don't receive an email, and it's not in your spam folder this could mean you signed up with a different address. -->