<% layout('layouts/boilerplate')%>
<div class="w-full h-full flex flex-col justify-center items-center" style="min-height:calc(100vh - 119px)">
    <form id="signup"  class="max-w-md w-full bg-white shadow-sm flex flex-col p-5 rounded" action="/register" method="POST">
        <h1 class="text-gray-800 font-bold text-2xl text-center">Create An Account</h1>
        <div class="">
            <label for="username" class="font-bold my-3 block">Username:</label>
            <input type="text" name="username"  autocomplete="off" class="input-username input-blank">
            <small class="text-primary text-xs"></small>
        </div>

        <div class="">
            <label for="email" class="font-bold my-3 block">Email:</label>
            <input type="text" name="email" autocomplete="off" class="input-email input-blank">
            <small class="text-primary text-xs"></small>
        </div>

        <div class="">
            <label for="password" class="font-bold my-3 block">Password:</label>
            <input type="password" name="password"  autocomplete="off" id="password" class="input-passowrd input-blank">
            <small class="text-primary text-xs"></small>
        </div>


        <div class="">
            <label for="confirm-password" class="font-bold my-3 block">Confirm Password:</label>
            <input type="password" name="confirm-password" autocomplete="off" class="input-confirmed-password input-blank">
            <small class="text-primary text-xs"></small>
        </div>
        
        <div class="text-center text-xs text-gray-700 mt-8">
            By signing up, you agree to the 
            <a class="no-underline border-b border-gray-500 text-gray-500" href="/policy">
                Terms of Service
            </a> and 
            <a class="no-underline border-b border-gray-500 text-gray-500" href="/policy">
                Privacy Policy
            </a>
        </div>
        <div class="">
            <input type="submit" value="Sign Up" class="btn-submit-blue">
        </div>
     
    </form>

    <div class="text-gray-700 mt-6 text-center">
        Already have an account? 
        <a class="no-underline border-b border-blue-500 text-blue-500" href="/login">
            Log in
        </a>.
    </div>
</div>