<% layout('layouts/boilerplate')%>
<div class="h-full w-full flex flex-col justify-center items-center" style="min-height:calc(100vh - 119px);">

    
    <form id="reset_password" class="max-w-md bg-white shadow-sm flex flex-col p-5 w-full rounded" action="" method="POST">
        <h1 class="text-gray-800 font-bold text-2xl text-center">Reset Your Password</h1>



        <div class="">
            <label for="password" class="font-bold my-3 block">New password:</label>
            <input type="password" name="password"  autocomplete="off" class="input-password input-blank">
            <small class="text-primary text-xs"></small>
        </div>


        <div class="">
            <label for="confirm-password" class="font-bold my-3 block">Confirm password:</label>
            <input type="password" name="confirm-password"  autocomplete="off" class="input-confirmed-password input-blank">
            <small class="text-primary text-xs"></small>
        </div>


        <div class="">
            <input type="submit" value="Update Password"
                class="btn-submit-blue">
        </div>

        <div class="w-full h-full flex justify-between mt-8">
            <a class="text-blue-500 border-b border-blue-500" href="/login" >Log In</a>
            
            <a class="no-underline border-b border-blue-500 text-blue-500 inline-block" href="/register">
                Sign Up
            </a>

        </div>

    </form>
    <div class="max-w-md w-full flex justify-end mt-3 text-xs ">

        

    </div>

</div>